<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/blog/blog.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2> <span> Mobile Phones, Accessories, Laptops, Desktops </span></h2>
              <!-- <p>Easy and effective way to get your device .</p> -->
              <div class="text-center"><a routerLink="/layout/about" class="btn-get-started">Upto 50% Off</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        

      

      </div>

   

      

    </div>
  </section><!-- End Hero -->

