<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a routerLink="/adminlayout/dashboard"><span>E-</span>Deals</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" routerLink="/adminlayout/addcategory">Category</a></li>
        <li><a class="nav-link scrollto" routerLink="/adminlayout/addsubcategory">Sub Category</a></li>
        <li><a class="nav-link scrollto" routerLink="/adminlayout/addproduct">Product</a></li>
        <li><a class="nav-link scrollto" routerLink="/adminlayout/addcoupon">Coupon</a></li>
        <li><a class="nav-link scrollto" routerLink="/adminlayout/listorder">Order</a></li>
        <li><a class="nav-link scrollto" routerLink="/adminlayout/listuser">User</a></li>
        <li><a class="nav-link scrollto" routerLink="/adminlayout/addadvertise">Advertise</a></li>
        <li><a class="nav-link scrollto" (click)="logout()">Logout</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
</header><!-- End Header -->
