<%- include('./layouts/header') %>
  <%- include('./layouts/sidenav') %>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid">
          <div class="container mbMain">
            <h1 class="mt-4">All Category</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active">All Category</li>
            </ol>
            <div class="row">
            </div>

          </div>
        </div>
      </main>