<div class="container mt-5">
  <div class="row d-flex justify-content-center">
      <div class="col-md-7">
          <div class="card p-3 py-4">

              <h5 class="mt-2 mb-0">Change Password</h5>
              <div class="text-center"> <img src="assets/img/user.png" width="100" class="rounded-circle"> </div>

              <form control="" #form="ngForm" (submit)="updatePassword()" class="form-group">

                  <div class="row">
                      <div class="col">
                          <input type="password" #old_password="ngModel" name="old_password" [(ngModel)]="formModel.old_password"
                              class="form-control" placeholder="Old Password" required>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col">
                          <input type="password" #new_password="ngModel" name="new_password" [(ngModel)]="formModel.new_password"
                              class="form-control" placeholder="New Password" required>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col">
                          <input type="password" #confirm_password="ngModel" name="confirm_password" [(ngModel)]="formModel.confirm_password"
                              class="form-control" placeholder="Confirm Password" required>
                      </div>
                  </div>


                  <div class="buttons my-3">
                    <button class="btn btn-primary px-4 ms-3">Update</button>
                  </div>

              </form>
          </div>
      </div>
  </div>
</div>
