<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
        <h2>Our Pots</h2>
        <ol>
          <li><a routerLink="/layout/home">Home</a></li>
          <li>Pots</li>
        </ol>
      </div>
  
    </div>
  </section><!-- End Breadcrumbs --> 
  
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">
  
      <div class="row">
  
  
        <div class="card">
          <img src="assets/img/product/22.2.jpg" class="card-img-top" alt="Avatar" style="width:100%;height:450px;">
          <div class="card-body">
            <h4 class="card-title"><b>Eagle Statue</b></h4>
            <a routerLink="/layout/painting-details" class="btn btn-primary">View</a>
          </div>
        </div>
  
        <div class="card">
          <img src="assets/img/product/23.2.jpg" class="card-img-top" alt="Avatar" style="width:100%;height:450px;">
          <div class="card-body">
            <h4 class="card-title"><b>Girl Statue</b></h4>
            <a routerLink="/layout/painting-details" class="btn btn-primary">View</a>
          </div>
        </div>
  
        <div class="card">
          <img src="assets/img/product/24.2.jpg" class="card-img-top" alt="Avatar" style="width:100%;height:450px;">
          <div class="card-body">
            <h4 class="card-title"><b>Steel Flower Stand</b></h4>
            <a routerLink="/layout/painting-details" class="btn btn-primary">View</a>
          </div>
        </div>
  
      </div>

      <div class="row">
  
  
        <div class="card">
          <img src="assets/img/product/25.1.jpg" class="card-img-top" alt="Avatar" style="width:100%;height:450px;">
          <div class="card-body">
            <h4 class="card-title"><b>Eagle Statue</b></h4>
            <a routerLink="/layout/painting-details" class="btn btn-primary">View</a>
          </div>
        </div>
  
        <div class="card">
          <img src="assets/img/product/26.1.jpg" class="card-img-top" alt="Avatar" style="width:100%;height:450px;">
          <div class="card-body">
            <h4 class="card-title"><b>Girl Statue</b></h4>
            <a routerLink="/layout/painting-details" class="btn btn-primary">View</a>
          </div>
        </div>
  
        <div class="card">
          <img src="assets/img/product/22.0.jpg" class="card-img-top" alt="Avatar" style="width:100%;height:450px;">
          <div class="card-body">
            <h4 class="card-title"><b>Steel Flower Stand</b></h4>
            <a routerLink="/layout/painting-details" class="btn btn-primary">View</a>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>