<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Product Details</h2>
        <ol>
          <li><a routerLink="/layout/homt">Home</a></li>
          <!-- <li><a href="portfolio.html">Product</a></li> -->
          <li>Product Details</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="assets/img/blog/blog-2.jpg" alt="">
              </div>


            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Product information</h3>
            <ul>
              <li><strong>Category</strong>: A</li>
              <li><strong>Product Name</strong>: xyz</li>
              <li><strong>Product Price</strong>: $200</li>
              <li><strong>Product Details</strong>: This is an example of product detail</li>
            </ul>
          </div>
         <div>
           <button class="btn btn-success" style="margin-top:30px;margin-left:120px;">Place order</button>
         </div>
        </div>

      </div>

    </div>
  </section>