<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Our Products</h2>
      <ol>
        <li><a routerLink="/layout/home">Home</a></li>
        <li>Products</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">



    <div class="row portfolio-container" data-aos="fade-up">
      <div class="col-lg-4 col-md-6 portfolio-item filter-card" *ngFor="let data of productData">
        <img src="assets/img/pic/post-01.jpg" class="img-fluid" alt="">
        <!-- <img [src]="getSanitizerUrl(productData.image[1])" class="img-fluid" alt=""> -->

        <button class="btn btn-secondary" style="margin-top:20px;margin-left:100px;"
          (click)="eventClick(data['_id'])">More Details</button>
      </div>


      <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/pic/post-04.jpg" class="img-fluid" alt="">
        <button class="btn btn-secondary" style="margin-top:20px;margin-left:100px;">More Details</button>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/pic/post-02.jpg" class="img-fluid" alt="">
        <a routerLink="/layout/products-info"><button class="btn btn-secondary"
            style="margin-top:20px;margin-left:100px;">More Details</button></a>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/pic/post-03.jpg" class="img-fluid" alt="">
        <a routerLink="/layout/products-info"><button class="btn btn-secondary"
            style="margin-top:20px;margin-left:100px;">More Details</button></a>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/pic/post-05.jpg" class="img-fluid" alt="">
        <a routerLink="/layout/products-info"><button class="btn btn-secondary"
            style="margin-top:20px;margin-left:100px;">More Details</button></a>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/pic/post-06.jpg" class="img-fluid" alt="">
        <a routerLink="/layout/products-info"><button class="btn btn-secondary"
            style="margin-top:20px;margin-left:100px;">More Details</button></a>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/pic/post-08.jpg" class="img-fluid" alt="">
        <a routerLink="/layout/products-info"><button class="btn btn-secondary"
            style="margin-top:20px;margin-left:100px;">More Details</button></a>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/pic/blog-recent-4.jpg" class="img-fluid" alt="" style="height:240px;width:355px;">
        <a routerLink="/layout/products-info"><button class="btn btn-secondary"
            style="margin-top:20px;margin-left:100px;">More Details</button></a>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/pic/blog-recent-5.jpg" class="img-fluid" alt="" style="height:240px;width:355px;">
        <a routerLink="/layout/products-info"><button class="btn btn-secondary"
            style="margin-top:20px;margin-left:100px;">More Details</button></a>
      </div> -->
    </div>

  </div>
</section>