<ngx-spinner></ngx-spinner>
<!-- ======= Our Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container" data-aos="fade-up">

    <div class="section-title mt-5">
      <h2 class="pt-5 d-inline">List Order</h2>
    </div>

    <table class="table table-bordered">
      <tr>
        <th>Order ID</th>
        <th>Name</th>
        <th>Order Date</th>
        <th>Order Status</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let orders of allorder">
        <td>{{orders['_id']}}</td>
        <td>{{orders['name']}}</td>
        <td>{{orders['created_at']}}</td>
        <td>{{orders['order_status']}}</td>
        <td>
          <a [routerLink]="['/adminlayout/orderdetail/',orders['_id']]"><i class="fa fa-eye text-dark"></i></a>
          <span *ngIf="orders['order_status'] == 'Pending'">
            <i class="fa fa-check text-success" title="Approve" (click)="updateOrderstatus(orders['_id'],'Approve')"></i>
            <i class="fa fa-times text-danger" title="Decline" (click)="updateOrderstatus(orders['_id'],'Decline')"></i>
          </span>
          <span *ngIf="orders['order_status'] == 'Decline'">
              Order Declined
          </span>
          <span *ngIf="orders['order_status'] == 'Approve'">
              <i class="fa fa-check text-info" title="Complete" (click)="updateOrderstatus(orders['_id'],'Complete')"></i>
          </span>
        </td>
      </tr>
    </table>
  </div>
</section>
<!-- End Our Clients Section -->

<!-- End #main -->
